# Logs
logs
*.log
npm-debug.log*
# Dependency directories
**/node_modules/**
pnp.cjs
# Coverage and build outputs
coverage
dist
lib
tmp
tsconfig.tsbuildinfo
# IDE configurations
vscode/
idea/

# pnpm store directory (if local)
store
# Test and cache directories
jest-cache
verdaccio-cache
turbo
eslintcache
# OS-specific files
DS_Store
# Custom fixtures or temp dirs (optional)
__fixtures__/custom-modules-dir/**/fake_modules/
__fixtures__/custom-modules-dir/cache/
__fixtures__/custom-modules-dir/patches/

# NPM
.npmrc

# Tarball
*.tgz
